

<li class="flex justify-between bg-main space-x-3 px-4 py-2 my-2 ">
  
  <section class="flex justify-between space-x-3 w-2/3">
    <span [textContent]="file.name" > text.txt </span>
    <span [textContent]="file.description" class="w-[30px]" > 2 </span>
    <span [textContent]="file.number_downloads" > 2 </span>
    <span [textContent]="file.store_time" > 4 hours </span>
  </section>
  <section class="space-x-3">
    <button > download </button>
    <button > delete </button>
  </section>
</li>

  <!-- <td [textContent]="file.name" ></td>
  <td [textContent]="file.description" ></td>
  <td [textContent]="file.number_download" ></td>
  <td [textContent]="file.store_time" ></td>
  <td> <button > download </button> </td>
  <td> <button > delete </button> </td> -->